@page
@model forum_app.Controllers.IndexModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User)) {
    <h1>My todos</h1>
} else {
    <h1>Login to see your todos!</h1>
}

<p>
    <a asp-page="AddPost">Create New Post</a>
</p>

@if (Model.PostList.Count > 0) {
    <div class="posts">
        <ul>
            @foreach (var item in Model.PostList) {
                <li>
                    <div class="post">
                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>

                        <p>@Html.DisplayFor(modelItem => item.Content)</p>

                        <div class="meta">
                            <p>
                                <strong>Author: </strong>

                                @Html.DisplayFor(modelItem => item.AuthorName)

                                -

                                <span>@Html.DisplayFor(modelItem => item.Date)</span>
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}